:root {
  /* red */
  --color-red-50: #fff7f7;
  --color-red-100: #ffe7e7; /* custom variable */
  --color-red-200: #ffd8d8; /* custom variable */
  --color-red-300: #fdc2c2;
  --color-red-400: #f79596;
  --color-red-500: #e03636;
  --color-red-600: #cc2929;
  --color-red-700: #b52a2a;
  --color-red-800: #941f1f;
  --color-red-900: #6b1515;
  --color-red-950: #460809;

  /* orange */
  --color-orange-50: #fff9f5;
  --color-orange-100: #ffefe4;
  --color-orange-200: #ffdec5; /* custom variable */
  --color-orange-300: #ffcba3;
  --color-orange-400: #f4b07f;
  --color-orange-500: #e86c13;
  --color-orange-600: #d45a08;
  --color-orange-700: #bd3e0c;
  --color-orange-800: #9e3513;
  --color-orange-900: #6b2711;

  /* amber */
  --color-amber-50: #fdfaed;
  --color-amber-100: #fff7d3;
  --color-amber-200: #feeda9;
  --color-amber-300: #fbdb73;
  --color-amber-400: #fbc53f;
  --color-amber-500: #e79913;
  --color-amber-600: #db7706;
  --color-amber-700: #b35309;
  --color-amber-800: #91400d;
  --color-amber-900: #763813;
  --color-amber-950: #461901;

  /* yellow */
  --color-yellow-50: #fffcef;
  --color-yellow-100: #fff7d3; /* custom variable */
  --color-yellow-200: #f7e9a8; /* custom variable */
  --color-yellow-300: #f5e171;
  --color-yellow-400: #f2d14b;
  --color-yellow-500: #edba13;
  --color-yellow-600: #d1930d;
  --color-yellow-700: #ab6e05;
  --color-yellow-800: #8c5600;
  --color-yellow-900: #733f12;

  /* lime */
  --color-lime-50: #f7fee7;
  --color-lime-400: #9ae600;
  --color-lime-500: #7ccf00;
  --color-lime-600: #5ea500;
  --color-lime-900: #35530e;

  /* green */
  --color-green-50: #f2fdf4;
  --color-green-100: #e4faeb;
  --color-green-200: #c3f9d3; /* custom variable */
  --color-green-300: #a6efc0;
  --color-green-400: #78e09f;
  --color-green-500: #46b37e;
  --color-green-600: #278f5e;
  --color-green-700: #137949;
  --color-green-800: #075e35;
  --color-green-900: #173b2c;
  --color-green-950: #032e15;

  /* emerald */
  --color-emerald-100: #d0fae5;
  --color-emerald-400: #00d492;
  --color-emerald-500: #00bc7d;
  --color-emerald-600: #096;
  --color-emerald-900: #004f3b;

  /* teal */
  --color-teal-50: #f0fdfa;
  --color-teal-100: #e6f7f4; /* custom variable */
  --color-teal-200: #bae8e1; /* custom variable */
  --color-teal-300: #97ded4;
  --color-teal-400: #73d1c4;
  --color-teal-500: #36baad;
  --color-teal-600: #0b9e92;
  --color-teal-700: #0f736b;
  --color-teal-800: #115c57;
  --color-teal-900: #114541;

  /* cyan */
  --color-cyan-50: #f5fbfc; /* custom variable */
  --color-cyan-100: #ddf7ff; /* custom variable */
  --color-cyan-200: #b3e8f7; /* custom variable */
  --color-cyan-300: #99e2f8; /* custom variable */
  --color-cyan-400: #72d5f3; /* custom variable */
  --color-cyan-500: #3bbde5; /* custom variable */
  --color-cyan-600: #32a4c7; /* custom variable */
  --color-cyan-700: #267a94; /* custom variable */
  --color-cyan-800: #125c73; /* custom variable */
  --color-cyan-900: #164759;

  /* sky */
  --color-sky-50: #f0f9ff;
  --color-sky-300: #74d4ff;
  --color-sky-500: #00a6f4;
  --color-sky-600: #0084d1;
  --color-sky-700: #0069a8;
  --color-sky-950: #052f4a;

  /* blue */
  --color-blue-50: #f2f9ff;
  --color-blue-100: #e6f4ff;
  --color-blue-200: #c8e6ff; /* custom variable */
  --color-blue-300: #a7d7fd;
  --color-blue-400: #73bbf6;
  --color-blue-500: #0289f7;
  --color-blue-600: #007be0;
  --color-blue-700: #0070cc;
  --color-blue-800: #005ca3;
  --color-blue-900: #004880;
  --color-blue-950: #162456;

  /* violet */
  --color-violet-50: #fbfaff;
  --color-violet-100: #eee8ff; /* custom variable */
  --color-violet-200: #dbd5ff; /* custom variable */
  --color-violet-300: #c9bafb;
  --color-violet-400: #a68efe;
  --color-violet-500: #7757ee;
  --color-violet-600: #664ecc;
  --color-violet-700: #4f3da1;
  --color-violet-800: #392980;
  --color-violet-900: #251959;

  /* purple */
  --color-purple-50: #fdfaff;
  --color-purple-100: #f6e9ff; /* custom variable */
  --color-purple-200: #ecd3ff; /* custom variable */
  --color-purple-300: #e2b9fc;
  --color-purple-400: #bf78fa;
  --color-purple-500: #9c45e3;
  --color-purple-600: #8642c2;
  --color-purple-700: #6e399d;
  --color-purple-800: #5c2f83;
  --color-purple-900: #401863;
  --color-purple-950: #3c0366;

  /* pink */
  --color-pink-50: #fff7fc; /* custom variable */
  --color-pink-100: #fde8f5; /* custom variable */
  --color-pink-200: #ffd5f0; /* custom variable */
  --color-pink-300: #f9b9e0; /* custom variable */
  --color-pink-400: #f77cc6;
  --color-pink-500: #e34aa6;
  --color-pink-600: #cf3a96;
  --color-pink-700: #9c2671; /* custom variable */
  --color-pink-800: #801458; /* custom variable */
  --color-pink-900: #570f3e; /* custom variable */

  /* rose */
  --color-rose-50: #fff1f2;
  --color-rose-300: #ffa1ad;
  --color-rose-400: #ff637e;
  --color-rose-500: #ff2056;
  --color-rose-600: #ec003f;
  --color-rose-700: #c70036;
  --color-rose-800: #a50036;
  --color-rose-900: #8b0836;

  /* slate */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-400: #90a1b9;
  --color-slate-500: #62748e;
  --color-slate-800: #1d293d;
  --color-slate-900: #0f172b;
  --color-slate-950: #020618;

  /* gray */
  --color-gray-50: #f8f8f8;
  --color-gray-100: #f3f3f3;
  --color-gray-200: #ededed;
  --color-gray-300: #e2e2e2; /* custom variable */
  --color-gray-400: #c7c7c7;
  --color-gray-500: #999999;
  --color-gray-600: #7c7c7c; /* custom variable */
  --color-gray-700: #525252;
  --color-gray-800: #383838;
  --color-gray-900: #171717;
  --color-gray-950: #030712;

  /* zinc */
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-400: #9f9fa9;
  --color-zinc-500: #71717b;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  /* neutral */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  /* stone */
  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-200: #e7e5e4;
  --color-stone-300: #d6d3d1;
  --color-stone-400: #a6a09b;
  --color-stone-500: #79716b;
  --color-stone-600: #57534d;
  --color-stone-700: #44403b;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;

  --color-gray-alpha-50: #ffffffff;
  --color-gray-alpha-100: #0000000d;
  --color-gray-alpha-200: #00000012;
  --color-gray-alpha-300: #0000001f;
  --color-gray-alpha-400: #00000038;
  --color-gray-alpha-500: #00000066;
  --color-gray-alpha-550: #00000073;
  --color-gray-alpha-600: #00000082;
  --color-gray-alpha-700: #000000ad;
  --color-gray-alpha-800: #000000d1;
  --color-gray-alpha-900: #000000e8;
  --color-gray-alpha-950: #000000f2;
  --color-gray-alpha-1000: #000000ff;
}

.dark {
  /* red */
  --color-red-50: #ffdede;
  --color-red-100: #ffc1c1; /* custom variable */
  --color-red-200: #fe7c7c; /* custom variable */
  --color-red-300: #eb4d52;
  --color-red-400: #d73232;
  --color-red-500: #b01f1f;
  --color-red-600: #862020;
  --color-red-700: #661717;
  --color-red-800: #521515;
  --color-red-900: #3c1316;
  --color-red-950: #2a0c0c;

  /* orange */
  --color-orange-50: #ffcdad;
  --color-orange-100: #ffa873;
  --color-orange-200: #fa8a40; /* custom variable */
  --color-orange-300: #de6d1b;
  --color-orange-400: #c45a0e;
  --color-orange-500: #984509;
  --color-orange-600: #823906;
  --color-orange-700: #683108;
  --color-orange-800: #532707;
  --color-orange-900: #361c09;
  --color-orange-950: #261407; /* custom variable */

  /* amber */
  --color-amber-50: #ffe59a;
  --color-amber-100: #f4c25f;
  --color-amber-200: #ffaa3e;
  --color-amber-300: #fa961f;
  --color-amber-400: #e27e1b;
  --color-amber-500: #cb6d10;
  --color-amber-600: #975215;
  --color-amber-700: #753a07;
  --color-amber-800: #4b2606;
  --color-amber-900: #371e06;
  --color-amber-950: #281808;

  /* yellow */
  --color-yellow-50: #ffeeb8;
  --color-yellow-100: #ffe386; /* custom variable */
  --color-yellow-200: #f8d76a; /* custom variable */
  --color-yellow-300: #ecc02e;
  --color-yellow-400: #daae15;
  --color-yellow-500: #c69c12;
  --color-yellow-600: #9c7a0a;
  --color-yellow-700: #705606;
  --color-yellow-800: #5b4605;
  --color-yellow-900: #3f3004;
  --color-yellow-950: #322604; /* custom variable */

  /* lime */
  --color-lime-50: #f7fee7;
  --color-lime-400: #9ae600;
  --color-lime-500: #7ccf00;
  --color-lime-600: #5ea500;
  --color-lime-900: #35530e;

  /* green */
  --color-green-50: #c8f3de;
  --color-green-100: #9be6c1;
  --color-green-200: #78d7a9; /* custom variable */
  --color-green-300: #58c08e;
  --color-green-400: #1db269;
  --color-green-500: #0c9150;
  --color-green-600: #077241;
  --color-green-700: #035831;
  --color-green-800: #0a3f27;
  --color-green-900: #0b2e1c;
  --color-green-950: #0c2016;

  /* emerald */
  --color-emerald-100: #d0fae5;
  --color-emerald-400: #00d492;
  --color-emerald-500: #00bc7d;
  --color-emerald-600: #096;
  --color-emerald-900: #004f3b;

  /* teal */
  --color-teal-50: #a0f7ed;
  --color-teal-100: #7ef3e7; /* custom variable */
  --color-teal-200: #51decf; /* custom variable */
  --color-teal-300: #28bcac;
  --color-teal-400: #1c988b;
  --color-teal-500: #1b7169;
  --color-teal-600: #145b54;
  --color-teal-700: #0b4942;
  --color-teal-800: #0b3a35;
  --color-teal-900: #0a2d29;
  --color-teal-950: #0a211e; /* custom variable */

  /* cyan */
  --color-cyan-50: #d0f0fa; /* custom variable */
  --color-cyan-100: #95e3f6; /* custom variable */
  --color-cyan-200: #62cae9; /* custom variable */
  --color-cyan-300: #3cb8dc; /* custom variable */
  --color-cyan-400: #1d94b9; /* custom variable */
  --color-cyan-500: #107b9b; /* custom variable */
  --color-cyan-600: #14667f; /* custom variable */
  --color-cyan-700: #104f62; /* custom variable */
  --color-cyan-800: #0d3b49; /* custom variable */
  --color-cyan-900: #0c2d37;
  --color-cyan-950: #0c242d; /* custom variable */

  /* sky */
  --color-sky-50: #f0f9ff;
  --color-sky-300: #74d4ff;
  --color-sky-500: #00a6f4;
  --color-sky-600: #0084d1;
  --color-sky-700: #0069a8;
  --color-sky-950: #052f4a;

  /* blue */
  --color-blue-50: #c9e0f5;
  --color-blue-100: #add2f5;
  --color-blue-200: #8cc1ec; /* custom variable */
  --color-blue-300: #5aaef2;
  --color-blue-400: #3294e3;
  --color-blue-500: #1580d8;
  --color-blue-600: #155999;
  --color-blue-700: #063d71;
  --color-blue-800: #052b53;
  --color-blue-900: #0e2037;
  --color-blue-950: #0c1726;

  /* violet */
  --color-violet-50: #cdbeff;
  --color-violet-100: #bca9fc; /* custom variable */
  --color-violet-200: #9f87ed; /* custom variable */
  --color-violet-300: #9478f8;
  --color-violet-400: #8363f1;
  --color-violet-500: #5a3eba;
  --color-violet-600: #403397;
  --color-violet-700: #3d3286;
  --color-violet-800: #291d64;
  --color-violet-900: #1f1841;
  --color-violet-950: #17132c; /* custom variable */

  /* purple */
  --color-purple-50: #e5c6fb;
  --color-purple-100: #d9aff5; /* custom variable */
  --color-purple-200: #c993ef; /* custom variable */
  --color-purple-300: #b168e8;
  --color-purple-400: #984bd8;
  --color-purple-500: #7a2db9;
  --color-purple-600: #622195;
  --color-purple-700: #491870;
  --color-purple-800: #391457;
  --color-purple-900: #270e3b;
  --color-purple-950: #1f112a;

  /* pink */
  --color-pink-50: #ffbbe4; /* custom variable */
  --color-pink-100: #f69ad1; /* custom variable */
  --color-pink-200: #ed77be; /* custom variable */
  --color-pink-300: #e359ab; /* custom variable */
  --color-pink-400: #cb4394;
  --color-pink-500: #ac377d;
  --color-pink-600: #892660;
  --color-pink-700: #6f1d4d; /* custom variable */
  --color-pink-800: #5b183f; /* custom variable */
  --color-pink-900: #42132f; /* custom variable */
  --color-pink-950: #341126; /* custom variable */

  /* rose */
  --color-rose-50: #fff1f2;
  --color-rose-300: #ffa1ad;
  --color-rose-400: #ff637e;
  --color-rose-500: #ff2056;
  --color-rose-600: #ec003f;
  --color-rose-700: #c70036;
  --color-rose-800: #a50036;
  --color-rose-900: #8b0836;

  /* slate */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-400: #90a1b9;
  --color-slate-500: #62748e;
  --color-slate-800: #1d293d;
  --color-slate-900: #0f172b;
  --color-slate-950: #020618;

  /* gray */
  --color-gray-50: #f8f8f8;
  --color-gray-100: #d9d9d9;
  --color-gray-200: #afafaf;
  --color-gray-300: #808080; /* custom variable */
  --color-gray-400: #717171;
  --color-gray-450: #575757; /* custom variable */
  --color-gray-500: #424242;
  --color-gray-600: #343434; /* custom variable */
  --color-gray-700: #2b2b2b;
  --color-gray-800: #232323;
  --color-gray-900: #1c1c1c;
  --color-gray-950: #0f0f0f;

  /* zinc */
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-400: #9f9fa9;
  --color-zinc-500: #71717b;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  /* neutral */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  /* stone */
  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-200: #e7e5e4;
  --color-stone-300: #d6d3d1;
  --color-stone-400: #a6a09b;
  --color-stone-500: #79716b;
  --color-stone-600: #57534d;
  --color-stone-700: #44403b;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;

  /* gray alpha */
  --color-gray-alpha-50: #f7f7f7;
  --color-gray-alpha-100: #d1d1d1;
  --color-gray-alpha-200: #ababab;
  --color-gray-alpha-300: #787878;
  --color-gray-alpha-400: #696969;
  --color-gray-alpha-450: #4d4d4d;
  --color-gray-alpha-500: #363636;
  --color-gray-alpha-600: #262626;
  --color-gray-alpha-700: #1f1f1f;
  --color-gray-alpha-800: #141414;
  --color-gray-alpha-900: #0f0f0f;
  --color-gray-alpha-950: #0a0a0a;
}
