@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    @apply border-border outline-ring/50;
    letter-spacing: var(--tracking-4);
    border-color: var(--border);
    outline-color: var(--ring);
  }
  body {
    @apply bg-background text-foreground font-sans;
    font-weight: var(--font-sans-weight);
  }

  svg {
    stroke-width: 1.5;
  }
}
