@layer utilities {
  .font-normal {
    font-weight: 420;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@utility shadow-focus-light {
  box-shadow: var(--focus-light);
}
