@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./tokens/colors.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0); /* #FFFFFF */
  --foreground: oklch(20.46% 0 0); /* #171717 */

  --card: oklch(100% 0 0); /* #FFFFFF */ /*surface/card*/
  --card-foreground: oklch(68.3% 0 0); /* #999999 */ /*ink/gray-4*/

  --popover: oklch(100% 0 0); /* #FFFFFF */ /*surface/modal*/
  --popover-foreground: oklch(82.97% 0 0); /* #c7c7c7 */ /*ink/gray-3*/

  --primary: oklch(20.46% 0 0); /* #171717 */ /*surface/gray-7*/
  --primary-foreground: oklch(100% 0 0); /* #FFFFFF */ /*ink/white*/

  --secondary: oklch(96.42% 0 0); /* #F3F3F3 */ /*surface/gray-2*/
  --secondary-foreground: oklch(34.07% 0 0); /* #383838 */ /*ink/gray-7*/

  --muted: oklch(94.61% 0 0); /* #EDEDED */ /*surface/gray-3*/
  --muted-foreground: oklch(43.86% 0 0); /* #525252 */ /*ink/gray-6*/

  --accent: oklch(91.28% 0 0); /* #E2E2E2 */ /*surface/gray-4*/
  --accent-foreground: oklch(58.63% 0 0); /* #7c7c7c */ /*ink/gray-5*/

  --destructive: oklch(55.03% 0.199 26.77); /* #CC2929 */ /*surface/red-5*/
  --destructive-foreground: oklch(
    98.23% 0.009 17.3
  ); /* #fff7f7 */ /*ink/red-1*/

  --border: oklch(91.28% 0 0); /* #E2E2E2 */ /*outline/gray-2*/
  --input: oklch(97.91% 0 0); /* #f8f8f8 */ /*surface/gray-1*/

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --ring: oklch(0.8359 0.0001 263.28 / 0.5647); /* #c9c9c990 */
  --sidebar: oklch(0.9791 0.0001 263.28); /* #f8f8f8 */
  --sidebar-foreground: oklch(0.4386 0 263.28); /* #525252 */
  --sidebar-primary: oklch(0.2046 0 263.28); /* #171717 */
  --sidebar-primary-foreground: oklch(1 0.0001 263.28); /* #ffffff */
  --sidebar-accent: oklch(0.9461 0.0001 263.28); /* #ededed */
  --sidebar-accent-foreground: oklch(0.4386 0 263.28); /* #525252 */
  --sidebar-border: oklch(0.9461 0.0001 263.28); /* #ededed */
  --sidebar-ring: oklch(0.8359 0.0001 263.28 / 0.5647); /* #c9c9c990 */

  --surface: oklch(100% 0 0); /* #FFFFFF */ /*ink/white*/
  --code-highlight: lab(95.36% 0 0);
  --code-number: lab(48.96% 0 0);
  --selection: lab(2.75381% 0 0);
  --selection-foreground: lab(100% 0 0);

  /* start custom variables */
  --destructive-hover: oklch(0.4906 0.1801 27.06); /* #B52A2A */
  --destructive-active: oklch(0.3998 0.1474 27.42); /* #941F1F */
  --destructive-disabled: oklch(0.9351 0.0268 17.5); /* #FFE7E7 */
  --destructive-disabled-foreground: oklch(0.7468 0.0856 18.72); /* #F79596 */
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 0 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  --shadow-xs: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  /* end custom variables */

  --spacing: 0.25rem; /* 4px */

  --radius: 0.625rem; /* 10px */

  /* font weights */
  --font-weight-light: 300;
  --font-weight-normal: 420;
  --font-weight-medium: 500;
  --font-weight-medium-plus: 530;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* font sizes */
  --text-tiny: 0.6875rem; /* 11px */
  --text-tiny--line-height: 0;
  --text-2xs: 0.6875rem; /* 11px */
  --text-2xs--line-height: 1.1818;
  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: 1.1667;
  --text-sm: 0.8125rem; /* 13px */
  --text-sm--line-height: 1.1538;
  --text-base: 0.875rem; /* 14px */
  --text-base--line-height: 1.1429;
  --text-lg: 1rem; /* 16px */
  --text-lg--line-height: 1.125;
  --text-xl: 1.125rem; /* 18px */
  --text-xl--line-height: 1.1667;
  --text-2xl: 1.25rem; /* 20px */
  --text-2xl--line-height: 1.15;
  --text-3xl: 1.5rem; /* 24px */
  --text-3xl--line-height: 1.1667;
  --text-4xl: 1.625rem; /* 26px */
  --text-4xl--line-height: 1.6154;
  --text-5xl: 1.75rem; /* 28px */
  --text-5xl--line-height: 1.6071;
  --text-6xl: 2rem; /* 32px */
  --text-6xl--line-height: 1.5938;
  --text-7xl: 2.5rem; /* 40px */
  --text-7xl--line-height: 1.4;
  --text-8xl: 2.75rem; /* 44px */
  --text-8xl--line-height: 1.4091;
  --text-9xl: 3rem; /* 48px */
  --text-9xl--line-height: 1.3958;
  --text-10xl: 3.25rem; /* 52px */
  --text-10xl--line-height: 1.4038;
  --text-11xl: 3.5rem; /* 56px */
  --text-11xl--line-height: 1.3929;
  --text-12xl: 4rem; /* 64px */
  --text-12xl--line-height: 1.2969;
  --text-13xl: 4.5rem; /* 72px */
  --text-13xl--line-height: 1.2778;
  --text-14xl: 5rem; /* 80px */
  --text-14xl--line-height: 1.2;
  --text-15xl: 5.5rem; /* 88px */
  --text-15xl--line-height: 1.2045;

  /* line heights */
  --leading-tiny: 0;
  --leading-2xs: 1.18;
  --leading-xs: 1.17;
  --leading-sm: 1.15;
  --leading-base: 1.15;
  --leading-lg: 1.13;
  --leading-xl: 1.17;
  --leading-2xl: 1.15;
  --leading-3xl: 1.17;
  --leading-4xl: 1.62;
  --leading-5xl: 1.61;
  --leading-6xl: 1.59;
  --leading-7xl: 1.4;
  --leading-8xl: 1.41;
  --leading-9xl: 1.4;
  --leading-10xl: 1.4;
  --leading-11xl: 1.39;
  --leading-12xl: 1.3;
  --leading-13xl: 1.28;
  --leading-14xl: 1.2;
  --leading-15xl: 1.2;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  /* border-radius */
  --radius-3xs: 0.125rem; /* 2px */
  --radius-2xs: calc(var(--radius) * 0.4); /* 4px */
  --radius-xs: calc(var(--radius) * 0.5); /* 5px */
  --radius-sm: calc(var(--radius) * 0.6); /* 6px */
  --radius-md: calc(var(--radius) * 0.8); /* 8px  */
  --radius-lg: var(--radius); /* 10px */
  --radius-xl: calc(var(--radius) * 1.2); /* 12px */
  --radius-2xl: calc(var(--radius) * 1.4); /* 14px */
  --radius-3xl: calc(var(--radius) * 1.6); /* 16px */
  --radius-4xl: calc(var(--radius) * 2); /* 20px */
  --radius-5xl: calc(var(--radius) * 2.4); /* 24px */

  /* letter spacing */
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-widest: 0.1em;
  --tracking-base: 0.02em;
  --tracking-normal: 0.015em;
}

.dark {
  --background: oklch(0% 0 0); /* #000000 */
  --foreground: oklch(97.91% 0 0); /* #F8F8F8 */
  --card: oklch(22.64% 0 0); /* #1C1C1C */ /*surface/card*/
  --card-foreground: oklch(54.86% 0 0); /* #717171 */ /*ink/gray-4*/
  --popover: oklch(25.62% 0 0); /* #232323 */ /*surface/modal*/
  --popover-foreground: oklch(45.68% 0 0); /* #575757 */ /*ink/gray-3*/

  --primary: oklch(97.91% 0 0); /* #F8F8F8 */ /*surface/gray-7*/
  --primary-foreground: oklch(16.84% 0 0); /* #0F0F0F */ /*ink/white*/
  --secondary: oklch(28.91% 0 0); /* #2B2B2B */ /*surface/gray-2*/
  --secondary-foreground: oklch(88.53% 0 0); /* #D9D9D9 */ /*ink/gray-7*/

  --muted: oklch(32.5% 0 0); /* #343434 */ /*surface/gray-3*/
  --muted-foreground: oklch(75.4% 0 0); /* #AFAFAF */ /*ink/gray-6*/
  --accent: oklch(37.91% 0 0); /* #424242 */ /*surface/gray-4*/
  --accent-foreground: oklch(59.99% 0 0); /* #808080 */ /*ink/gray-5*/

  --destructive: oklch(49.06% 0.18 27.06); /* #B01F1F */ /*surface/red-5*/
  --destructive-foreground: oklch(100% 0 0); /* #FFFFFF */ /*ink/red-1*/

  /* start custom variables */
  --destructive-hover: oklch(57.78% 0.201 26.24); /* #D73232 */
  --destructive-active: oklch(41.25% 0.137 25.6); /* #862020 */
  --destructive-disabled: oklch(25.37% 0.065 18.58); /* #3C1316 */
  --destructive-disabled-foreground: oklch(34.06% 0.112 25.44); /* #661717 */
  /* end custom variables */

  --border: oklch(32.5% 0 0); /* #343434 */ /*outline/gray-2*/
  --input: oklch(25.62% 0 0); /* #232323 */ /*surface/gray-1*/

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --ring: oklch(0.8359 0.0001 263.28 / 0.5647); /* #c9c9c990 */
  --sidebar: oklch(0.1684 0 263.28); /* #0f0f0f */
  --sidebar-foreground: oklch(0.754 0.0001 263.28); /* #afafaf */
  --sidebar-primary: oklch(0.2046 0 263.28); /* #171717 */
  --sidebar-primary-foreground: oklch(1 0.0001 263.28); /* #ffffff */
  --sidebar-accent: oklch(0.325 0 263.28); /* #343434 */
  --sidebar-accent-foreground: oklch(0.754 0.0001 263.28); /* #afafaf */
  --sidebar-border: oklch(0.2562 0 263.28); /* #232323 */
  --sidebar-ring: oklch(0.8359 0.0001 263.28 / 0.5647); /* #c9c9c990 */

  --surface: oklch(16.84% 0 0); /* #0F0F0F */ /*ink/white*/
  --code-highlight: lab(95.36% 0 0);
  --code-number: lab(48.96% 0 0);
  --selection: lab(2.75381% 0 0);
  --selection-foreground: lab(100% 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  /* Variations Fonts */
  --font-sans--font-variation-settings: "opsz" 24;

  /* Fonts Weight */
  --font-sans-weight: 420;
  --font-weight-light: var(--font-weight-light);
  --font-weight-normal: var(--font-weight-normal);
  --font-weight-medium: var(--font-weight-medium);
  --font-weight-medium-plus: var(--font-weight-medium-plus);
  --font-weight-semibold: var(--font-weight-semibold);
  --font-weight-bold: var(--font-weight-bold);
  --font-weight-extrabold: var(--font-weight-extrabold);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-active: var(--destructive-active);
  --color-destructive-disabled: var(--destructive-disabled);
  --color-destructive-disabled-foreground: var(
    --destructive-disabled-foreground
  );
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --radius-3xs: 0.125rem;
  --radius-2xs: calc(var(--radius) * 0.4);
  --radius-xs: calc(var(--radius) * 0.5);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.2);
  --radius-2xl: calc(var(--radius) * 1.4);
  --radius-3xl: calc(var(--radius) * 1.6);
  --radius-4xl: calc(var(--radius) * 2);
  --radius-5xl: calc(var(--radius) * 2.4);

  /* shadows */
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-md:
    0 0 1.5px 0 rgba(0, 0, 0, 0.25), 0 0 10px 2px rgba(0, 0, 0, 0.03),
    0 44px 52px -10px rgba(0, 0, 0, 0.1);

  /* font sizes */
  --text-tiny: var(--text-tiny);
  --text-tiny--line-height: var(--text-tiny--line-height);
  --text-2xs: var(--text-2xs);
  --text-2xs--line-height: var(--text-2xs--line-height);
  --text-xs: var(--text-xs);
  --text-xs--line-height: var(--text-xs--line-height);
  --text-sm: var(--text-sm);
  --text-sm--line-height: var(--text-sm--line-height);
  --text-base: var(--text-base);
  --text-base--line-height: var(--text-base--line-height);
  --text-lg: var(--text-lg);
  --text-lg--line-height: var(--text-lg--line-height);
  --text-xl: var(--text-xl);
  --text-xl--line-height: var(--text-xl--line-height);
  --text-2xl: var(--text-2xl);
  --text-2xl--line-height: var(--text-2xl--line-height);
  --text-3xl: var(--text-3xl);
  --text-3xl--line-height: var(--text-3xl--line-height);
  --text-4xl: var(--text-4xl);
  --text-4xl--line-height: var(--text-4xl--line-height);
  --text-5xl: var(--text-5xl);
  --text-5xl--line-height: var(--text-5xl--line-height);
  --text-6xl: var(--text-6xl);
  --text-6xl--line-height: var(--text-6xl--line-height);
  --text-7xl: var(--text-7xl);
  --text-7xl--line-height: var(--text-7xl--line-height);
  --text-8xl: var(--text-8xl);
  --text-8xl--line-height: var(--text-8xl--line-height);
  --text-9xl: var(--text-9xl);
  --text-9xl--line-height: var(--text-9xl--line-height);
  --text-10xl: var(--text-10xl);
  --text-10xl--line-height: var(--text-10xl--line-height);
  --text-11xl: var(--text-11xl);
  --text-11xl--line-height: var(--text-11xl--line-height);
  --text-12xl: var(--text-12xl);
  --text-12xl--line-height: var(--text-12xl--line-height);
  --text-13xl: var(--text-13xl);
  --text-13xl--line-height: var(--text-13xl--line-height);
  --text-14xl: var(--text-14xl);
  --text-14xl--line-height: var(--text-14xl--line-height);
  --text-15xl: var(--text-15xl);
  --text-15xl--line-height: var(--text-15xl--line-height);

  /* line heights */
  --leading-tiny: var(--leading-tiny);
  --leading-2xs: var(--leading-2xs);
  --leading-xs: var(--leading-xs);
  --leading-sm: var(--leading-sm);
  --leading-base: var(--leading-base);
  --leading-lg: var(--leading-lg);
  --leading-xl: var(--leading-xl);
  --leading-2xl: var(--leading-2xl);
  --leading-3xl: var(--leading-3xl);
  --leading-4xl: var(--leading-4xl);
  --leading-5xl: var(--leading-5xl);
  --leading-6xl: var(--leading-6xl);
  --leading-7xl: var(--leading-7xl);
  --leading-8xl: var(--leading-8xl);
  --leading-9xl: var(--leading-9xl);
  --leading-10xl: var(--leading-10xl);
  --leading-11xl: var(--leading-11xl);
  --leading-12xl: var(--leading-12xl);
  --leading-13xl: var(--leading-13xl);
  --leading-14xl: var(--leading-14xl);
  --leading-15xl: var(--leading-15xl);

  /* letter spacing */
  --tracking-tighter: var(--tracking-tighter);
  --tracking-tight: var(--tracking-tight);
  --tracking-widest: var(--tracking-widest);
  --tracking-base: var(--tracking-base);
  --tracking-normal: var(--tracking-normal);

  /* colors */
  --color-red-50: var(--color-red-50);
  --color-red-100: var(--color-red-100);
  --color-red-200: var(--color-red-200);
  --color-red-300: var(--color-red-300);
  --color-red-400: var(--color-red-400);
  --color-red-500: var(--color-red-500);
  --color-red-600: var(--color-red-600);
  --color-red-700: var(--color-red-700);
  --color-red-800: var(--color-red-800);
  --color-red-900: var(--color-red-900);
  --color-red-950: var(--color-red-950);

  --color-orange-50: var(--color-orange-50);
  --color-orange-100: var(--color-orange-100);
  --color-orange-200: var(--color-orange-200);
  --color-orange-300: var(--color-orange-300);
  --color-orange-400: var(--color-orange-400);
  --color-orange-500: var(--color-orange-500);
  --color-orange-600: var(--color-orange-600);
  --color-orange-700: var(--color-orange-700);
  --color-orange-800: var(--color-orange-800);
  --color-orange-900: var(--color-orange-900);
  --color-orange-950: var(--color-orange-950);

  --color-amber-50: var(--color-amber-50);
  --color-amber-100: var(--color-amber-100);
  --color-amber-200: var(--color-amber-200);
  --color-amber-300: var(--color-amber-300);
  --color-amber-400: var(--color-amber-400);
  --color-amber-500: var(--color-amber-500);
  --color-amber-600: var(--color-amber-600);
  --color-amber-700: var(--color-amber-700);
  --color-amber-800: var(--color-amber-800);
  --color-amber-900: var(--color-amber-900);
  --color-amber-950: var(--color-amber-950);

  --color-yellow-50: var(--color-yellow-50);
  --color-yellow-100: var(--color-yellow-100);
  --color-yellow-200: var(--color-yellow-200);
  --color-yellow-300: var(--color-yellow-300);
  --color-yellow-400: var(--color-yellow-400);
  --color-yellow-500: var(--color-yellow-500);
  --color-yellow-600: var(--color-yellow-600);
  --color-yellow-700: var(--color-yellow-700);
  --color-yellow-800: var(--color-yellow-800);
  --color-yellow-900: var(--color-yellow-900);
  --color-yellow-950: var(--color-yellow-950);

  --color-lime-50: var(--color-lime-50);
  --color-lime-400: var(--color-lime-400);
  --color-lime-500: var(--color-lime-500);
  --color-lime-600: var(--color-lime-600);
  --color-lime-900: var(--color-lime-900);

  --color-green-50: var(--color-green-50);
  --color-green-100: var(--color-green-100);
  --color-green-200: var(--color-green-200);
  --color-green-300: var(--color-green-300);
  --color-green-400: var(--color-green-400);
  --color-green-500: var(--color-green-500);
  --color-green-600: var(--color-green-600);
  --color-green-700: var(--color-green-700);
  --color-green-800: var(--color-green-800);
  --color-green-900: var(--color-green-900);
  --color-green-950: var(--color-green-950);

  --color-emerald-100: var(--color-emerald-100);
  --color-emerald-400: var(--color-emerald-400);
  --color-emerald-500: var(--color-emerald-500);
  --color-emerald-600: var(--color-emerald-600);
  --color-emerald-900: var(--color-emerald-900);

  --color-teal-50: var(--color-teal-50);
  --color-teal-100: var(--color-teal-100);
  --color-teal-200: var(--color-teal-200);
  --color-teal-300: var(--color-teal-300);
  --color-teal-400: var(--color-teal-400);
  --color-teal-500: var(--color-teal-500);
  --color-teal-600: var(--color-teal-600);
  --color-teal-700: var(--color-teal-700);
  --color-teal-800: var(--color-teal-800);
  --color-teal-900: var(--color-teal-900);
  --color-teal-950: var(--color-teal-950);

  --color-cyan-50: var(--color-cyan-50);
  --color-cyan-100: var(--color-cyan-100);
  --color-cyan-200: var(--color-cyan-200);
  --color-cyan-300: var(--color-cyan-300);
  --color-cyan-400: var(--color-cyan-400);
  --color-cyan-500: var(--color-cyan-500);
  --color-cyan-600: var(--color-cyan-600);
  --color-cyan-700: var(--color-cyan-700);
  --color-cyan-800: var(--color-cyan-800);
  --color-cyan-900: var(--color-cyan-900);
  --color-cyan-950: var(--color-cyan-950);

  --color-sky-50: var(--color-sky-50);
  --color-sky-300: var(--color-sky-300);
  --color-sky-500: var(--color-sky-500);
  --color-sky-600: var(--color-sky-600);
  --color-sky-700: var(--color-sky-700);
  --color-sky-950: var(--color-sky-950);

  --color-blue-50: var(--color-blue-50);
  --color-blue-100: var(--color-blue-100);
  --color-blue-200: var(--color-blue-200);
  --color-blue-300: var(--color-blue-300);
  --color-blue-400: var(--color-blue-400);
  --color-blue-500: var(--color-blue-500);
  --color-blue-600: var(--color-blue-600);
  --color-blue-700: var(--color-blue-700);
  --color-blue-800: var(--color-blue-800);
  --color-blue-900: var(--color-blue-900);
  --color-blue-950: var(--color-blue-950);

  --color-violet-50: var(--color-violet-50);
  --color-violet-100: var(--color-violet-100);
  --color-violet-200: var(--color-violet-200);
  --color-violet-300: var(--color-violet-300);
  --color-violet-400: var(--color-violet-400);
  --color-violet-500: var(--color-violet-500);
  --color-violet-600: var(--color-violet-600);
  --color-violet-700: var(--color-violet-700);
  --color-violet-800: var(--color-violet-800);
  --color-violet-900: var(--color-violet-900);
  --color-violet-950: var(--color-violet-950);

  --color-purple-50: var(--color-purple-50);
  --color-purple-100: var(--color-purple-100);
  --color-purple-200: var(--color-purple-200);
  --color-purple-300: var(--color-purple-300);
  --color-purple-400: var(--color-purple-400);
  --color-purple-500: var(--color-purple-500);
  --color-purple-600: var(--color-purple-600);
  --color-purple-700: var(--color-purple-700);
  --color-purple-800: var(--color-purple-800);
  --color-purple-900: var(--color-purple-900);
  --color-purple-950: var(--color-purple-950);

  --color-pink-50: var(--color-pink-50);
  --color-pink-100: var(--color-pink-100);
  --color-pink-200: var(--color-pink-200);
  --color-pink-300: var(--color-pink-300);
  --color-pink-400: var(--color-pink-400);
  --color-pink-500: var(--color-pink-500);
  --color-pink-600: var(--color-pink-600);
  --color-pink-700: var(--color-pink-700);
  --color-pink-800: var(--color-pink-800);
  --color-pink-900: var(--color-pink-900);
  --color-pink-950: var(--color-pink-950);

  --color-rose-50: var(--color-rose-50);
  --color-rose-300: var(--color-rose-300);
  --color-rose-400: var(--color-rose-400);
  --color-rose-500: var(--color-rose-500);
  --color-rose-600: var(--color-rose-600);
  --color-rose-700: var(--color-rose-700);
  --color-rose-800: var(--color-rose-800);
  --color-rose-900: var(--color-rose-900);

  --color-slate-50: var(--color-slate-50);
  --color-slate-100: var(--color-slate-100);
  --color-slate-200: var(--color-slate-200);
  --color-slate-400: var(--color-slate-400);
  --color-slate-500: var(--color-slate-500);
  --color-slate-800: var(--color-slate-800);
  --color-slate-900: var(--color-slate-900);
  --color-slate-950: var(--color-slate-950);

  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-450: var(--color-gray-450);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950);

  --color-zinc-50: var(--color-zinc-50);
  --color-zinc-100: var(--color-zinc-100);
  --color-zinc-200: var(--color-zinc-200);
  --color-zinc-400: var(--color-zinc-400);
  --color-zinc-500: var(--color-zinc-500);
  --color-zinc-800: var(--color-zinc-800);
  --color-zinc-900: var(--color-zinc-900);
  --color-zinc-950: var(--color-zinc-950);

  --color-neutral-50: var(--color-neutral-50);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-400: var(--color-neutral-400);
  --color-neutral-500: var(--color-neutral-500);
  --color-neutral-600: var(--color-neutral-600);
  --color-neutral-700: var(--color-neutral-700);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-900: var(--color-neutral-900);
  --color-neutral-950: var(--color-neutral-950);

  --color-stone-50: var(--color-stone-50);
  --color-stone-100: var(--color-stone-100);
  --color-stone-200: var(--color-stone-200);
  --color-stone-300: var(--color-stone-300);
  --color-stone-400: var(--color-stone-400);
  --color-stone-500: var(--color-stone-500);
  --color-stone-600: var(--color-stone-600);
  --color-stone-700: var(--color-stone-700);
  --color-stone-800: var(--color-stone-800);
  --color-stone-900: var(--color-stone-900);
  --color-stone-950: var(--color-stone-950);

  --color-gray-alpha-50: var(--color-gray-alpha-50);
  --color-gray-alpha-100: var(--color-gray-alpha-100);
  --color-gray-alpha-200: var(--color-gray-alpha-200);
  --color-gray-alpha-300: var(--color-gray-alpha-300);
  --color-gray-alpha-400: var(--color-gray-alpha-400);
  --color-gray-alpha-450: var(--color-gray-alpha-450);
  --color-gray-alpha-500: var(--color-gray-alpha-500);
  --color-gray-alpha-550: var(--color-gray-alpha-550);
  --color-gray-alpha-600: var(--color-gray-alpha-600);
  --color-gray-alpha-700: var(--color-gray-alpha-700);
  --color-gray-alpha-800: var(--color-gray-alpha-800);
  --color-gray-alpha-900: var(--color-gray-alpha-900);
  --color-gray-alpha-950: var(--color-gray-alpha-950);
  --color-gray-alpha-1000: var(--color-gray-alpha-1000);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-weight: 420;
  }
  html {
    @apply font-sans;
  }
  svg {
    stroke-width: 1.5;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
